<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML MODELS</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body>
<center>
     <div class="login">
         <h1>My First ML Project</h1>
	<h1>Boston House Price Prediction</h1>
         <h3>Those Are Default Value You Can Change And Predict</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <label>CRIM </label><input type="text" name="CRIM" value="0.00632" placeholder="CRIM" required="required" /><br>
    	<label>ZN </label><input type="text" name="ZN" value="18.0" placeholder="ZN" required="required" /><br>
        <label>INDUS </label><input type="text" name="INDUS" value="2.31" placeholder="INDUS" required="required" /><br>
        <label>CHAS </label><input type="text" name="CHAS" value="0.0" placeholder="CHAS" required="required" /><br>
        <label>NOX </label><input type="text" name="NOX" value="0.538" placeholder="NOX" required="required" /><br>
        <label>RM </label><input type="text" name="RM" value="6.575" placeholder="RM" required="required" /><br>
        <label>Age </label><input type="text" name="Age" value="65.2" placeholder="Age" required="required" /><br>
        <label>DIS </label><input type="text" name="DIS" value="4.09" placeholder="DIS" required="required" /><br>
        <label>RAD </label><input type="text" name="RAD" value="1.0" placeholder="RAD" required="required" /><br>
        <label>TAX </label><input type="text" name="TAX" value="296.0" placeholder="TAX" required="required" /><br>
        <label>PTRATIO </label><input type="text" name="PTRATIO" value="15.3" placeholder="PTRATIO" required="required" /><br>
        <label>B </label><input type="text" name="B" placeholder="B" value="396.9" required="required" /><br>
        <label>LSTAT </label><input type="text" name="LSTAT" placeholder="LSTAT" value="4.98" required="required" /><br>



        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>


 </div>
 {{prediction_text}}
    <div style="margin-top:50px">
        <table border="1">
            <tr>
                <th>Variable</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>CRIM</td>
                <td>Per capita crime rate by town</td>
            </tr>
            <tr>
                <td>ZN</td>
                <td>Proportion of residential land zoned for lots over 25,000 sq.ft.</td>
            </tr>
            <tr>
                <td>INDUS</td>
                <td>Proportion of non-retail business acres per town</td>
            </tr>
            <tr>
                <td>CHAS</td>
                <td>Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)</td>
            </tr>
            <tr>
                <td>NOX</td>
                <td>Nitric oxides concentration (parts per 10 million)</td>
            </tr>
            <tr>
                <td>RM</td>
                <td>Average number of rooms per dwelling</td>
            </tr>
            <tr>
                <td>AGE</td>
                <td>Proportion of owner-occupied units built prior to 1940</td>
            </tr>
            <tr>
                <td>DIS</td>
                <td>Weighted distances to five Boston employment centers</td>
            </tr>
            <tr>
                <td>RAD</td>
                <td>Index of accessibility to radial highways</td>
            </tr>
            <tr>
                <td>TAX</td>
                <td>Full-value property-tax rate per $10,000</td>
            </tr>
            <tr>
                <td>PTRATIO</td>
                <td>Pupil-teacher ratio by town</td>
            </tr>
            <tr>
                <td>B</td>
                <td>1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town</td>
            </tr>
            <tr>
                <td>LSTAT</td>
                <td>% lower status of the population</td>
            </tr>
            <tr>
                <td>MEDV</td>
                <td>Median value of owner-occupied homes in $1000's</td>
            </tr>
        </table>
    </div>
</center>



</body>
</html>